
/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: white;
 }


.white-section {
  background-color: white;
  color: black;
}

.body {
  text-family:'Montserrat', sans-serif;

}

h1, h2, h3 {
  font-family: 'Montserrat';
  font-weight: bold;
}



p {
  color: #8f8f8f;

}


/* nav bar */

.navbar {
padding-bottom: 4.5rem;
}


.navbar-brand{
margin-left: 0;
font-size: 2.7rem;
font-family: 'ubuntu', sans-serif;
font-weight: bold;

}


.nav-item{

margin: 0 20px;
line-height: 1.5;

}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'-light;
}

/* intro */

.col-lg-6{

position: relative;
z-index: 1;


}

.meet{

font-size: 3.5rem;
line-height: 1.5;
font-weight: 900;
color: white;



}

.download-btn{
  margin: 5% 3% 5% 0;
}



.iphone6 {

 transform: rotate(20deg);
 width: 60%;
 position: absolute;
 left: 15%;
 z-index:-1;
}

.container-fluid{

  padding: 3% 15% 7%;


}

/* Features */

.col-lg-4{
text-align: center;
padding: 4.5%;

}

.features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 2;


}

.fa-solid {
  color: #ef8172;
  margin-bottom: 1rem;

}

i:hover {
color: #ff4c68;
}


.third-box {
  padding: 5% 1% 5%;
}

/* testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;

}


.carousel-item {
  padding: 7% 15%;
}


.dog-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}


/* critiques */

#critiques {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
/* pricing */
}

#pricing{
  text-align: center;
  margin-top: 100px;

}

.pricing-text{
  font-size: 2.7rem;
  line-height: 5.5rem;
}

.card-body{
  height: 336px;
}



.signup-bttn{
  margin-top: 35px;
}

/* footer */
#footer {
  margin-top: 100px;
  padding: 15% 15%;


}

.bottom-text {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 60px;
}

.download-btn-2 {
  margin-left: 3%;
  margin right 3%;
}
/* copyright */
.fa-logo {
  color: black;
  margin-left: 1%;
  margin right 1%;
}

#copyright {
  padding: 7% 15%;
}

@media (max-width: 1028px) {

.col-lg-6 {

  text-align: center;
}


  .iphone6 {
    position: static;
    transform: rotate(0deg);

  }
